div.bx--dropdown.bx--list-box {
  .bx--list-box__menu {
    background-color: $ui-02;

    div.bx--list-box__menu-item.bx--list-box__menu-item--highlighted {
      background-color: $ui-03;
    }
  }
}

.bx--fieldset {
  max-width: 100%;
  min-width: 100%;
  padding-bottom: $spacing-03;
  width: 100%;
}

.bx--text-area__wrapper {
  width: 100%;
}
